---
---

@import 'normalize';

$color: #4ccfdd;
$color2: #005f99;

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin tablet-perspective($x, $y, $z, $depth, $text, $edge) {
  color: $text;
  @include transform(perspective(10000px) rotateY(25deg) rotateX(50deg) rotateZ(-25deg) scale(1) translate3d($x, $y, $z));
  text-shadow:
    1px -1px 0 lighten($text, 20%),
    -1px 1px 0 mix($edge, $text, 70%),
    -2px 2px 0 mix($edge, $text, 80%),
    -3px 3px 0 mix($edge, $text, 90%),
    (-1 * $depth) $depth ($depth * 1) rgba($edge, .4);
}

html, body {
  height: 100%;
  line-height: 1.55;
  cursor: default;
}

html {
  background: $color;
  background: linear-gradient(to bottom, darken($color, 10%), $color2) center center / auto fixed;
  background: radial-gradient(farthest-corner at 50% 10%, darken($color, 10%), $color2) center center / auto fixed;
  background: url('./images/background.jpg') center center / cover fixed;
  font-family: work sans, sans-serif;
  color: white;
  padding: 20px;
  text-align: center;
  padding-bottom: 64px;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.days {
  margin: 0 auto;
  position: relative;

  padding-top: 56px;
  padding-bottom: 48px;

  .date-element {
    &:nth-child(1) { z-index: 4; opacity: 0.5; }
    &:nth-child(2) { z-index: 3; opacity: 0.7; }
    &:nth-child(3) { z-index: 2; opacity: 0.9; }
    &:nth-child(4) { z-index: 1; }
  }
}

.date-element {
  & {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    height: 195px;
    text-align: center;
    line-height: 1.4;
  }
  
  .num, .subtext {
    display: block;
  }
  
  .in {
    @include tablet-perspective(-7%, 0, 0, 30px, lighten($color, 10%), darken($color2, 10%));
    background: linear-gradient(195deg, rgba($color, .1) 50%, rgba(lighten($color, .40), .35));
    box-shadow:
      -1px 1px 0 rgba($color, .6),
      -5px 5px 15px rgba(lighten($color, 10%), .1);
    border-radius: 5px;
    padding: 24px;
    margin: 0 auto;
  }
  
  .num, .subtext {
    @include transform(translate3d(10px, -10px, 0));
  }
  
  .num {
    font-size: 128px;
    font-family: fjalla one;
    font-weight: 400;
    letter-spacing: 8px;
    text-indent: 2px;
    line-height: 1em;
  }
  
  .subtext {
    font-size: 32px;
    text-transform: uppercase;
    font-family: fjalla one;
    font-weight: 400;
    letter-spacing: 6px;
  }
}

.date-element.-big {
  & { height: 165px; }
  & { margin-top: -30px; }
  .in { width: 260px; }
  .num { color: lighten($color, 20%); }
  .subtext { color: lighten($color, 20%); }
}

.date-element.-small {
  & { height: 95px; }
  & { left: -10px; }
  .in { width: 130px; height: 85px; }
  .in {
    @include tablet-perspective(0, 0, 0, 10px, lighten($color, 5%), darken($color2, 5%));
    text-indent: -10px;
  }
  .num { font-size: 64px; }
  .subtext { font-size: 16px; }
}

@media (max-width: 768px) {
  body {
    font-size: 13px;
  }

  .branding img {
    max-width: 200px;
  }

  .days {
    padding-bottom: 64px;
    padding-top: 8px;
    // left: -40px;
  }

  .date-element {
    @include transform(scale(0.6));
    margin-bottom: -32px;
  }

  .date-element.-big {
    margin-top: -64px;
    margin-bottom: -48px;
  }
}

.branding {
  margin: 0 auto;
}

.info-boxes {
  & {
    margin: 32px auto 0 auto;
  }
}

.info-box {
  & + & {
    margin-top: 16px;
  }

  .title {
    display: block;
    color: white;
    font-weight: bold;
  }

  .sub {
    display: block;
    color: darken($color2, 10%);
    font-size: 0.9em;
  }
}

.social-list {
  &, li {
    margin: 0;
    padding: 0;
  }

  & {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 24px;
    overflow: hidden;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 6px;
    text-align: center;
    box-shadow: none;
  }

  a:before, a:after {
    transition: all 100ms linear;
  }

  .text {
    display: none;
  }

  a:before {
    font-family: 'Ionicons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border: solid 2px transparent;
    border-radius: 50%;
  }

  @mixin socialiconify($color, $content, $filled) {
    & {
      color: white;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      color: $color;
    }

    &:before {
      content: $filled;
    }

    &:hover:before,
    &:focus:before {
      background: $color;
      color: white;
      content: $filled;
    }
  }

  .facebook a {
    @include socialiconify(#4c66a4, '\f230', '\f231');
  }

  .twitter a {
    @include socialiconify(dodgerblue, '\f242', '\f243');
  }

  .googleplus a {
    @include socialiconify(#f53, '\f234', '\f235');
  }
}
